# Python artifacts
__pycache__/
*.pyc

# Operating System Files
.DS_Store
.directory

# IntelliJ/PyCharm (and other JetBrains IDEs) artifacts
.idea/
*.iws
*.iml
*.ipr

# log files and debug artifacts
*.log
debug_artifacts/

# input and output files
input_files/
chemview_archive*/
pdfDownloadsToDo/
harvest.go
harvest.stop

# database files don't go in the repo for now
*.db

# report files 
*.txt

# miscellany
modal_population_resilience.md
aiTests/
oldStuff/
