# Python artifacts
__pycache__/
*.pyc

# Operating System Files
.DS_Store
.directory

# IntelliJ/PyCharm (and other JetBrains IDEs) artifacts
.idea/
*.iws
*.iml
*.ipr

# log files and debug artifacts
*.log
debug_artifacts/
