# Python artifacts
__pycache__/
*.pyc

# Operating System Files
.DS_Store
.directory

# IntelliJ/PyCharm (and other JetBrains IDEs) artifacts
.idea/
*.iws
*.iml
*.ipr

# log files and debug artifacts
*.log
*.log.*
debug_artifacts/

# semaphore files
*.stop
*.go

# input and output files
input_files/
chemview_archive*/
pdfDownloadsToDo/
downloadsToDo/

# database files don't go in the repo for now
*.db

# report and other output files 
*.txt
*.out

# miscellany
modal_population_resilience.md
aiTests/
failureAnalysis/
oldStuff/
sampleOrganizations.*
sampleOrganizations/
sample*.html
*.old
